@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body {
    font-family: 'Ubuntu';
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FDFEFE; 
}

.form-wrapper {
    display: flex;
    margin-top: 30px;
    margin-bottom: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-title {
    text-align: center;
    margin-bottom: 30px; 
    font-size: 34px;
    font-weight: bold;
    color: #000;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}





#browse-btn {
    position: relative;
}



.form-container {
    width: 100%;
    max-width: 1200px; 
    padding: 20px; 
    margin: 0 auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.row textarea {
    resize: vertical; /* Allow only vertical resizing */
    width: 100%; /* Adjust width as needed */
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    box-sizing: border-box; /* Include padding in the total width */
}



.form-container {
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.row input[type="text"]:last-child {
    margin-right: 0; 
}
.add-row-btn:hover {
    background-color: #218838;
}

.add-row-btn, .remove-row-btn {
    width: 50px;  
    height: 50px;
    padding: 0; 
    font-size: 20px; 
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 10px; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.add-row-btn {
    background-color: #48C9B0;
    color: white;
}

.add-row-btn:hover {
    background-color: #1b2631; 
}

.remove-row-btn {
    background-color: #ee5485; 
    color: white;
}

.remove-row-btn:hover {
    background-color: #16202a; 
}




#save-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}

#save-notification.show {
    opacity: 1;
    visibility: visible;
}


.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-btn {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #34495E;
    color: white;
    border: none;
    cursor: pointer;
}

.pagination-btn:hover {
    background-color: #18222c;
}

.pagination-numbers {
    display: flex;
    align-items: center;
}

.pagination-number {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination-number.active {
    background-color: #34495E;
    color: white;
}

.pagination-number:hover {
    background-color: #18222c;
    color: white;
}




.row input[type="text"]:last-child {
    width: 68%; 
    margin-right: 0;
    position: relative;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, #000000, #3c4752); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out; 
}

.row input[type="text"]:last-child:hover {
    
    background-size: 0 100%; 
}

.row input[type="text"] {
    width: 28%;
    padding: 10px;
    border-radius: 10px;
    
    font-size: 16px;
    margin-right: 4%;
}







.circle-button:hover {
    background-color: #1ABC9C;
}




.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.row .input-container {
    background-color: transparent;
}
.input-container {
    position: relative;
    width: 28%; 
    margin-right: 4%;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex; 
    align-items: center; 
    overflow: hidden; 
    justify-content: space-around; 
    border: none; 
    
}

.row .input-container.priority-0 {
    background-color: transparent;
}

.row .input-container.priority-1 {
    background-color: rgba(123, 255, 0, 0.2); 
}
    
.row .input-container.priority-2 {
    background-color: rgba(255, 0, 51, 0.126); 
}



.row input[type="text"]:last-child {
    width: 68%;
    margin-right: 0;
    background-color: white; 
}




.row textarea:last-child {
    resize: vertical; /* Allow vertical resizing */
    width: 68%; /* Adjust width as needed */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Add a border */
    background-color: white; /* Original background */
    
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    
    transition: background-size 0.4s ease-in-out, background-color 0.4s ease; /* Add transition for hover effect */

    color: #000; 
    box-sizing: border-box; 
}

.row .input-container textarea:focus {
    border: 1px solid #ddd; 
}
.row textarea:last-child:hover {
    background-size: 0 100%; 
    background-color: #ffffff; 
}


.image-upload-btn {
    margin-left: 5px;
    right: 75px;
}



.priority-button {
    margin-left: 5px;
    right: 5px;
}




/* Dark mode styling adjustments for left textareas */
body.dark-mode .input-container textarea {
    color: #f0f0f0; 
    background: transparent; 
}

/* Dark mode styling for right textareas */
body.dark-mode textarea:last-child {
    color: #f0f0f0; /* Text color for dark mode */
    background-color: #fff0; /* Transparent background for dark mode */
}

/* Adjust the circle button hover effect */
.circle-button:hover {
    background-color: #1ABC9C; /* Keep this as it is to show the button on hover */
}

/* Styles for the fixed star button */
.star-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #3e3e3e; /* Orange color for the button */
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.star-button:hover {
    background-color: #252525; /* Darker shade on hover */
}


/* Dark mode styling adjustments for left textareas */
body.dark-mode .input-container textarea {
    color: #f0f0f0; /* Text color for dark mode */
    background: transparent; /* Ensure background remains transparent */
}

/* Dark mode styling for right textareas */
body.dark-mode textarea:last-child {
    color: #f0f0f0; /* Text color for dark mode */
    background-color: #2d3748; /* Darker background for dark mode */
    border-color: #718096; 
}

.input-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    padding-right: 40px; 
    font-size: 16px;
    background-color: transparent;
    border: none; 
    outline: none; 
    width: 100%; 
    box-sizing: border-box; 
}



.circle-button {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #48C9B0;
    color: white;
    border: none;
    font-size: 16px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    opacity: 0; 
}

.circle-button:hover {
    background-color: #1ABC9C;
}

.dictionary-button {
    right: 40px;
    margin-left: 5px;
}

.remove-button {
    right: 145px;
    margin-left: 5px;
}


.llm-elaborate-button {
    right: 110px;
    margin-left: 5px;
}



.input-container:hover .circle-button {
    opacity: 1;
}

.definition-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.definition-popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit-button:hover {
    background-color: #ff0000;
}

.definition-popup h2 {
    margin-top: 0;
    color: #333;
}

.definition-popup h3 {
    color: #666;
    margin-top: 15px;
    margin-bottom: 5px;
}

.definition-popup p {
    margin: 5px 0;
}


.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px; 
    padding: 10px;
    border-radius: 12px;
}

.top-button {
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 20%; 
    padding: 15px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #236d9e; 
    color: white;
    display: flex;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.top-button:hover {
    background-color: #2980b9; 
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

#csvFileInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    display: none;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

body.dark-mode .form-title {
    color: #f0f0f0;
}

body.dark-mode .top-button {
    background-color: #4a5568;
    color: #f0f0f0;
}

body.dark-mode .top-button:hover {
    background-color: #2d3748;
}

body.dark-mode .form-container {
    background-color: #2d3748;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
}

body.dark-mode .row input[type="text"] {
    background-color: #fff0;
    color: #f0f0f0;
    border-color: #718096;
}

body.dark-mode .row input[type="text"]:last-child {
    background-image: linear-gradient(to right, #f0f0f0, #c1d6ee); 
}

body.dark-mode .add-row-btn {
    background-color: #51a378;
    color: #f0f0f0;
}
body.dark-mode .remove-row-btn {    
    background-color: #d3556acc;
    color: #f0f0f0;
}

body.dark-mode .add-row-btn:hover {
    background-color: #326f4f;

}
body.dark-mode .remove-row-btn:hover {
    background-color: #953c4bcc;
}

body.dark-mode .pagination-btn {
    background-color: #4a5568;
    color: #f0f0f0;
}

body.dark-mode .pagination-btn:hover {
    background-color: #2d3748;
}

body.dark-mode .pagination-number {
    background-color: #4a5568;
    color: #f0f0f0;
}

body.dark-mode .pagination-number.active,
body.dark-mode .pagination-number:hover {
    background-color: #2d3748;
}

body.dark-mode #save-notification {
    background-color: #38a169;
    color: #f0f0f0;
}

body.dark-mode .input-container.priority-0 {
    background-color: transparent;
}

body.dark-mode .input-container.priority-1 {
    background-color: #4cd7b09f;
    z-index: 100;
}

body.dark-mode .input-container.priority-2 {
    background-color: #d3556acc;
}

body.dark-mode .circle-button {
    background-color: #51a378;
    color: #f0f0f0;
}

body.dark-mode .circle-button:hover {
    background-color: #3f8f66;
}



body.dark-mode .definition-tooltip {
    background-color: #f0f0f0;
    color: #333;
}

/* Dark mode adjustments */
body.dark-mode .definition-popup {
    background-color: #333;
    color: #f0f0f0;
}

body.dark-mode .definition-popup h2 {
    color: #f0f0f0;
}

body.dark-mode .definition-popup h3 {
    color: #ccc;
}

body.dark-mode .exit-button {
    background-color: #d9534f;
}

body.dark-mode .exit-button:hover {
    background-color: #c9302c;
}

body.dark-mode .row textarea:last-child:hover {
    background-color: #3c3c3c;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.row .input-container,
.row textarea:last-child {
    transition: width 0.3s ease;
}

/* Default state (left expanded) */
.row .input-container {
    width: 95%;
}

.row textarea {
    width: 100%;
    resize: vertical;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.row textarea:last-child {
    width: 5%;
}

/* Right expanded state */
.row.right-expanded .input-container {
    width: 5%;
}

.row.right-expanded textarea:last-child {
    width: 95%;
}

.input-container.disable-hover .circle-button {
    display: none; /* Hide buttons completely */
}

